@model Blog.Data.Entities.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Cập Nhật Danh Mục</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Category" asp-area="Admin" method="post" id="formEditCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Mã Danh Mục</label>
                <input asp-for="Id" id="id" class="form-control" value="@Model.Id" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"><span class="text-danger">*  </span>Tên Danh Mục</label>
                <input asp-for="Name" id="name" class="form-control" value="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"><span class="text-danger">*  </span>Slug</label>
                <input asp-for="Slug" id="slug" class="form-control" value="@Model.Slug" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"><span class="text-danger">*  </span>Trạng Thái</label>
                <select asp-for="Status" id="status" class="form-control" asp-selected-value="@Model.Status">
                    <option value="0">
                        Ngưng Hoạt Động
                    </option>
                    <option value="1">
                        Hoạt Động
                    </option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" onclick="submitEditCategory(event)" class="btn btn-primary" >Lưu</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Quay Lại Danh Sách</a>
</div>


@section AdminScripts{
    <script>
        function submitEditCategory(e) {
            e.preventDefault()
            const name = $("#name").val()
            const slug = $("#slug").val()
            const id = parseInt($("#id").val())
            const status = parseInt($("#status").val())
            
            if(slug === "" || name === "" || id === "" || status === ""){
                swal.fire({
                    title:"Lỗi",
                    text:"Vui lòng không để trống những ô nhập có dấu *",
                    icon:"error"
                })
                return;
            }

            const body = {
                name: name,
                slug: slug,
                id:id,
                status:status
            }

            swal.fire({
                title: 'Sửa Danh Mục',
                text:'Bạn chắc chắn muốn sửa danh mục này ?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Chắc chắn',
                cancelButtonText: 'Không',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'PUT',
                        url: "@Url.Action("Edit","Category",new {Area = "Admin"})",
                        contentType: 'application/json',
                        data: JSON.stringify(body),
                        success: function(response) {
                            if (response.success === true) {
                                swal.fire({
                                    title: response.message,
                                    icon: 'success',
                                }).then(result => {
                                    window.location = "@Url.Action("Index","Category")"
                                })

                            } else {
                                swal.fire({
                                    title: response.message,
                                    icon: 'error',
                                })
                            }
                        }
                    })
                }
            })
        }
    </script>
}